body {
}
#top{
    position: absolute;
    right: 30px;
    top: 5px;
}

#appStatus {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
#appStatus.load{
    background-color: yellow;
}
#appStatus.error{
    background-color: red;
}
#appStatus.ok{
    background-color: green;
}
#volume {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
}
#volume.low{
    background-color: red;
}
#volume.ok{
    background-color: green;
}
#jsMath_Warning{
    display: none;
}
#content{
    width: 900px;
    height: 550px;
    margin: 20px auto;
    padding: 20px;
    border: #3399CC 3px solid;
    border-radius: 2px;
    background: #E6B280;
    color: black;
    text-align: center;
    overflow-y: scroll;
}
#content .error{
    color: red;
}
img.top-icon{
    height: 16px;
}
#content span.calcul{
    line-height: 45px;
}